body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

.light-theme {
    background-color: #f0f0f0;
    color: #000;
}

.login-container, .landing-container {
    text-align: center;
}

h1.animated-text {
    font-size: 2.5em;
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    animation: shine 3s infinite;
}

.quote-container {
    display: inline-block;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.quote {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
}

@keyframes shine {
    to {
        background-position: -100%;
    }
}
input[type="text"], input[type="password"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.neon-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #444;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    box-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
}
.neon-button:hover {
    background-color: #0ff;
    color: #121212;
}
#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}
